<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Liste des residences</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let residence of listResidences">
                <td>{{residence.name}}</td>
                <td>{{residence.address}}</td>
                <td><img src="{{residence.image}}" alt="Residence image"></td>
                
            </tr>
            
        </tbody>
    </table>
</body>
</html>
