<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Liste des residences</h1>
   
    
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let residence of listResidences">
                <td>{{residence.name}}</td>
                <td>{{residence.address}}</td>
                <td><img src="{{residence.image}}" alt="Residence image"></td>
                <td><button (click)="showApartments(residence)">Show Apartments</button></td>
                <td><a [routerLink]="['/residence',residence.id]">Details</a></td>
            </tr>
            
        </tbody>
    </table>
    <div>
        <h2>ajouter une residence</h2>
        <form (ngSubmit)="addResidence()">
          <label for="name">Name:</label>
          <input id="name" type="text" [(ngModel)]="newResidenceForm.name" name="name" required>
      
          <label for="address">Address:</label>
          <input id="address" type="text" [(ngModel)]="newResidenceForm.address" name="address" required>
      
          <label for="image">Image URL:</label>
          <input id="image" type="text" [(ngModel)]="newResidenceForm.image" name="image" required>
      
          <button type="submit">Add Residence</button>
        </form>
      </div>
    
    <div *ngIf="selectedResidence">
        <h2>Apartments for {{selectedResidence.name}}</h2>
        <input type="number" placeholder="Enter surface area" [(ngModel)]="surfaceFilter">
        <ul>
            <li *ngFor="let apartment of getApartments(selectedResidence)">
                <h3>{{apartment.description}}</h3>
                <p>Appartment Number: {{apartment.appartNum}}</p>
                <p>Floor Number: {{apartment.floorNum}}</p>
                <p>Surface: {{apartment.surface}}</p>
                <p>Terrace: {{apartment.terrace ? 'Yes' : 'No'}}</p>
                <p>Surface of Terrace: {{apartment.surfaceTerrace}} </p>
                <p>Category: {{apartment.category}}</p>
                <p><a [routerLink]="['/apartment',apartment.id]">Details</a></p>
            </li>
        </ul>
        
    </div>
    
</body>

</html>